@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.list-animation-container {
  display:inline-block;
  vertical-align:baseline;
}

.list-animation-container #flip {
  height:60px;
  overflow:hidden;
  display:inline-block;
  vertical-align:baseline;
}

.list-animation-container #flip > div > div {
  color:#fff;
  padding:6px 16px;
  height:55px;
  margin-bottom:55px;
  display:inline-block;
  font-size:22px;
  font-weight:bold;
}

.list-animation-container #flip div:first-child {
  animation: show 5s linear infinite;
}

.list-animation-container #flip div div {
  background:#42c58a;
}
.list-animation-container #flip div:first-child div {
  background:#4ec7f3;
}
.list-animation-container #flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

.list-animation-container p {
  position:fixed;
  width:100%;
  bottom:30px;
  font-size:12px;
  color:#999;
  margin-top:200px;
}
